.card-cadastro {
	margin: 0 auto;
	float: none; 
	margin-bottom: auto;
	margin-top: 70px;
}

.alert {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.card-pesquisa {
	margin: 0 auto;
	float: none; 
	margin-bottom: auto;
	margin-top: 70px;
	width: 90em;
}